.selected-method {
    border: 2px solid #007bff; /* Bootstrap primary color for consistency */
    background-color: #e9ecef; /* Light grey background for slight emphasis */
}

.nav.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
    z-index: 1000;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}


/* Initially hidden on smaller screens */
@media (max-width: 768px) {
    .nav.sidebar {
        transform: translateX(100%);
    }
}

body.dark-mode {
    background-color: #343a40; /* Darker background */
    color: #ffffff; /* Light text */
}

.dark-mode .card {
    background-color: #495057; /* Dark card backgrounds */
    color: #ffffff; /* Light text for cards */
}

.dark-mode .btn-light {
    background-color: #6c757d; /* Darker button background */
    color: #ffffff; /* Light text for buttons */
}

.dark-mode .nav.sidebar {
    background-color: #495057; /* Dark sidebar background */
}
