.selected-method {
    border: 2px solid #007bff;
    background-color: #e9ecef;
}

.nav.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 250px;
    z-index: 1000;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .nav.sidebar {
        transform: translateX(100%);
    }
}

body.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #495057;
    color: #ffffff;
}

.dark-mode .btn-light {
    background-color: #6c757d;
    color: #ffffff;
}

.dark-mode .nav.sidebar {
    background-color: #495057;
}
